<container xmlns="http://symfony.com/schema/dic/services">
    <parameters>
        <parameter key="doyo.menu.menu_config_dir">%kernel.project_dir%/config/menu</parameter>
    </parameters>
    <services>
        <defaults autowire="true" autoconfigure="true"/>
        <service id="doyo.menu.controllers.menu" class="Doyo\Menu\Bridge\Symfony\Controller\MenuController">
            <tag name="controller.service_arguments"/>
        </service>
        <service id="doyo.menu.factory.yaml" class="Doyo\Menu\Bridge\Symfony\Generator\MenuFactory">
            <argument key="$configDir">%doyo.menu.menu_config_dir%</argument>
        </service>
        <service alias="doyo.menu.factory.yaml" id="Doyo\Menu\Contracts\MenuFactory"/>
    </services>
</container>
